.cars-list {
  display: flex;
  flex-direction: column; /* вертикально */
  gap: 16px;
  margin-top: 16px;
}

.car-item {
  display: flex;
  align-items: center;
  gap: 12px; /* место между SVG и подписью */
}

.car-item svg {
  width: 100px; /* ширина машинки */
  height: auto; /* сохраняем пропорции */
}

.car-item p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
