body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-page);
}

.main-page {
  display: flex;
  height: calc(100vh - 181px);
  gap: 1rem;
  padding: 1rem;
  background-color: var(--bg-page);
}

/* User list */
.user-list {
  width: 250px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 1rem;
  overflow-y: auto;
}

/* Chat area */
.chat-area {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* src/pages/about.css */
.about-page {
  min-height: calc(100vh - 230px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: var(--bg-page);
}

.about-page h1 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1rem;
}

.about-page p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
  max-width: 500px;
}

.about-page a {
  color: var(--primary);
  text-decoration: none;
  margin-bottom: 1rem;
}

.about-page a:hover {
  text-decoration: underline;
}

.about-page button {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}

.about-page button:hover {
  background-color: var(--primary-hover);
}
