/* Mulish Regular
Oswald Regular
Oswald Light
Mulish Italic
Mulish Medium
Mulish Bold */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

/* ///////////////////////// */
html {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: Mulish;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Oswald;
}

a {
  font-size: 16px;
  line-height: 24px;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section--dark {
  background: #030303;
  color: #FFF;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.section--dark {
  background: #222;
  color: #FFF;
}

/* //////////////////////////////// */
.header {
  padding-top: 32px;
  padding-bottom: 3px;
  padding-right: 3px;
}

@media (max-width: 380px) {
  .header {
    /* padding-top: 72px; */
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .hero {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 59px;
  }

  .hero__container {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 59px;
  }
}

@media (max-width: 768px) {
  .header {
    /* padding-top: 72px;
  padding-bottom: 3px; */
    padding-right: 30px;
  }

  .hero {
    padding-top: 72px;
    padding-bottom: 59px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__list {
  margin-right: 42px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header__link:hover {
  color: #FF3C3C;
}

.header__burger {
  display: none;
  width: 30px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
  background: none;
  border: none;
  padding: 0;
}

.header__burger span {
  display: block;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.header__burger span:first-child {
  width: 12px;
}

.header__burger span:last-child {
  width: 20px;
}

@media (max-width: 768px) {
  .header__burger {
    display: flex;
    margin-right: 12px;
    margin-bottom: 9px;
  }

  .header__list {
    display: none;
  }
}

/* ==================== */
html.no-scroll {
  overflow: hidden;
}

.burger-menu {
  position: fixed;
  top: 120px;
  right: -100%;
  width: 100%;
  height: calc(100vh - 120px);
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: right 0.5s ease-in-out;
  z-index: 1000;

}

.burger-menu.open {
  /* overflow: auto; */
  right: 0;
}

@media (min-width: 769px) {

  .burger-menu,
  .header__burger {
    display: none !important;
  }

  .header__list {
    display: flex !important;
  }
}

/* Список */
.burger-menu__list {
  transform: translateX(-20px);
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 188px;
}

.burger-menu__link {
  color: #FFF;
  /* text-align: center; */
  font-family: Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.burger-menu__link:hover {
  color: #FF3C3C;
}

/*крестик*/
.header__burger.active span:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 41px;
  width: 20px;
  right: 36px;
}

.header__burger.active span:last-child {
  transform: rotate(-45deg);
  position: absolute;
  top: 41px;
  right: 36px;
}

/* ................................ */
.hero {
  padding-bottom: 59px;
  padding-top: 75px;
}

@media (max-width: 768px) {
  .hero {
    padding-top: 70px;
    padding-bottom: 41px;
  }
}

/* */
.hero__container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 62px;
}

@media (max-width: 380px) {
  .hero__container {
    flex-wrap: wrap;
  }
}

/* Сайдбар с вертикальным текстом */
.hero__column1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 380px) {
  .hero__column1 {
    display: none;
  }
}

/* Вертикальный текст*/
.hero__column1>span:first-child,
.hero__column1>span:last-child {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}

.vertical-line {
  width: 1px;
  height: 535px;
  background-color: #fff;
  margin-bottom: 14px;
  margin-top: 12px;
}


/* Основной контент справа */
.hero__column2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 99px;
}

.hero__made-by-me-numbers {
  margin-right: 64px;
}

.hero__made-by-me-numbers-blocks {
  display: flex;
}

.hero__made-by-me-numbers p:first-child {
  font-style: normal;
  font-weight: 300;
  text-align: left;
  font-family: Oswald;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
}

.hero__made-by-me-numbers p:last-child {
  text-align: center;
  margin-left: 24px;
  margin-top: 8px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* Заголовок */
.hero__title {
  font-size: clamp(56px, 8vw, 116px);
  line-height: clamp(64px, 9vw, 132px);
  font-weight: 300;
  text-transform: uppercase;
}

@media (max-width: 380px) {
  .hero__title {
    font-size: 56px;
    line-height: 64px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    color: #FFF;
    font-family: Oswald;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    line-height: 80px;
    /* 117.647% */
    text-transform: uppercase;
  }
}

.hero__subtitle {
  font-family: Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

/* Scroll down */
.hero__scroll-down-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-align: left;
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin-top: 120px;
  color: #FFF;
}

a.hero__scroll-down-text-text {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  padding: 0;
  margin: 0;
  all: unset;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}


@media (max-width: 768px) {
  .hero__scroll-down-text {
    margin-top: 120px;

  }

  .vertical-line {
    height: 435px;
  }
}

@media (max-width: 380px) {
  button.hero__scroll-down-text {
    display: none;
  }
}

.hero__scroll-down-text:hover .hero__scroll-down-text-text,
.hero__scroll-down-text:hover .hero__scroll-down-svg {
  color: #FF3C3C;
}

.hero__scroll-down-svg {
  margin-left: 6px;
  vertical-align: middle;
}


.hero__column3 {
  transform: translateX(20px);
  margin-left: 0px;
  padding-left: 8px;
}

@media (max-width: 1000px) {
  .hero__column3 {
    display: none;
  }
}

.hero__photo1 {
  margin-top: 260px;
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.hero__photo2 {
  width: 280px;
}

/* Текст внизу справа */
.hero__right-text {
  margin-top: 297px;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  /* align-self: flex-end; */
}

@media (max-width: 768px) {
  .hero__right-text {
    /* margin-top: 0px; */
    transform: translateY(-23px);
  }
}

@media (max-width: 768px) {
  .hero__column4 {
    min-width: 220px;
    transform: translateX(-40px);
    /* padding-right: 40px; */
  }
}

@media (max-width: 380px) {
  .hero__column4 {
    margin-left: auto;
  }
}

/* ///////////////////////////////// about me*/
.about {
  margin-left: auto;
  margin-right: 5px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.about__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
}

@media (max-width: 768px) {
  .about__container {
    gap: 10px;
  }
}

.about__column1,
.about__column2,
.about__column3 {
  flex: 1 1 440px;
  max-width: 440px;
}


@media (max-width: 768px) {

  .about__column1,
  .about__column2,
  .about__column3 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.about__photo {
  height: 440px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
  /* margin-top: 80px; */
  /* object-position: bottom; */
}

@media (max-width: 768px) {
  .about__photo {
    height: 728px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 36px;
    /* margin-top: 80px; */
    /* object-position: bottom; */
  }

  .about__photo3 {
    display: none;
  }
}

@media (max-width: 380px) {
  .about__photo {
    width: 100%;
    object-fit: cover;
    max-height: 340px;
    max-width: 340px;
    object-fit: cover;
    margin-bottom: 40px;
    margin-top: 0px;
    /* object-position: bottom; */
  }
}

.about__title {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 40px;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 768px) {
  .about__text {
    margin-bottom: 31px;
  }
}

@media (max-width: 380px) {
  .about__text {
    max-width: 340px;
  }
}

/* /////////////////////////// portfolio*/
.portfolio {
  padding-top: 60px;
}

.portfolio__title {
  padding-bottom: 12px;
  font-size: 32px;
  line-height: 40px;
}

.portfolio__text {
  max-width: 360px;
  font-size: 16px;
  line-height: 24px;
}

.portfolio__slider-wrapper {
  /* margin-top: 120px; */
  /* padding-bottom: 1px; */
  height: 753px;
  position: relative;
  overflow: hidden;
}

.portfolio__slider {
  /* margin-left: -135px; */
  /* overflow-x: auto; */
  /* padding-right: 5px; */
  /* transform: translateX(-124px); */
  display: flex;
  gap: 20px;
  padding-top: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* scroll-snap-type: x mandatory;*/
  /* scroll-behavior: smooth; */
}

.portfolio__slide {
  flex: 0 0 auto;
  width: auto;
  /* scroll-snap-align: start; */
  transform: translateY(var(--offset, 0px));
}

.portfolio__slide img {
  /* max-width: 280px; */
  display: block;
  height: 100%;
  object-fit: cover;
}

.portfolio__slide--sm img {
  width: 220px;
  height: 220px;
}

.portfolio__slide--md img {
  width: 280px;
  height: 374px;
}

.portfolio__slide--lg img {
  width: 400px;
  height: 534px;
}

/* ////// */
.scroll-zone {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  width: 30vw;
}

.scroll-zone--left {
  left: 0;
}

.scroll-zone--right {
  right: 0;
}

/* ///////////////////////// */
.pricing {
  padding-top: 59px;
  padding-bottom: 61px;
}

.pricing__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 13px;
}

.pricing__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

/* .................. card*/
.pricing__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}

@media (max-width: 768px) {
  .pricing__cards {
    justify-content: center;
    align-items: center;
  }
}

.pricing-card {
  width: 320px;
  height: 500px;
  border: 1px solid #222;
  padding: 23px 23px;
  display: flex;
  flex-direction: column;
}

.pricing-card__title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 11px;
}

.pricing-card__list {
  margin: 0;
  padding: 0;
  /* list-style-position: inside;  */
  /* list-style-type: square; */
}

.pricing-card__list li::before {
  content: "■";
  margin-right: 5px;
  font-size: 13px;
  display: inline-block;
  /* vertical-align: ;  */
}

.pricing-card__list li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.pricing-card__list li:last-child {
  margin-bottom: 12px;
}

.pricing-card__item {
  font-size: 16px;
  line-height: 24px;
}

.pricing-card__price {
  font-family: Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.pricing-card__block-desc-btn {
  margin-top: auto;
  gap: 11px;
  display: flex;
  flex-direction: column;
}

.pricing-card__desc {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.pricing-card__btn {
  height: 60px;
  width: 272px;
  padding: 0 20px;
  background: #222;
  color: #FFF;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.pricing-card:hover {
  border-color: #FF3C3C;
  cursor: pointer;
}

.pricing-card:hover .pricing-card__btn {
  background: #FF3C3C;
  color: #222;
  cursor: pointer;
}

.pricing__modal-overlay {
  display: none;

}
.pricing__modal-overlay.open{
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.60);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pricing__modal {
  position: relative;
  background: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 500px;
  z-index: 1001;
}

.pricing__modal-close-btn {
  position: absolute;
  top: 10px;
  right: 0px;
  left: 220px;
  transform: translateY(10%);
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #222222;
  line-height: 1;
}

.pricing__modal-close-btn:hover {
  color: #FF3C3C;
}


.pricing__modal h3 {
  margin-bottom: 3px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.pricing__modal input,
.pricing__modal button {
  width: 100%;
}

/* 
///////////////////////////////// FAQ*/
.faq {
  padding-top: 59px;
  padding-bottom: 44px;
}

.faq__container {
  display: flex;
  gap: 40px;
  /* flex-wrap: wrap; */
}

.faq__left,
.faq__right {
  min-width: 680px;
  /* flex: 1 1 calc(50% - 20px); */
}

@media (max-width: 768px) {
  .faq__container {
    display: flex;
    /* gap: 40px; */
    flex-direction: column;
  }

  .faq__left,
  .faq__right {
    min-width: 340px;
    /* 728 */
    flex: 1 1 calc(50% - 20px);
  }

}

.faq__title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 12px;
}

.faq__text {
  font-size: 16px;
  line-height: 24px;
}

.faq__right {
  padding-top: 18px;
}

.faq__item {
  padding-top: 1px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  max-width: 680px;
}

.faq__item:first-child {
  padding-top: 0px;
  padding-bottom: 19px;
}

.faq__question {
  position: relative;
  padding-bottom: 18px;
  font-size: 20px;
  line-height: 28px;
  padding-right: 70px;
  cursor: pointer;
}

.faq__question:hover .faq__question-text,
.faq__question:hover .faq__toggle {
  color: #FF3C3C;
  transition: color 0.3s ease;
  cursor: pointer;
}

.faq__toggle {
  position: absolute;
  right: 0.5%;
  transform: translateX(50%);
  top: 30%;
  transform: translateY(-50%);
  color: white;
  font-weight: 100;
  font-size: 48px;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}

.faq__question-text {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 18px;
}

.faq__answer {
  font-size: 16px;
  line-height: 24px;
  display: none;
}

.faq__answer--active {
  display: block;
}

/* //////////////////////// contact */
.contact__container {
  padding-top: 40px;
  padding-right: 41px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .contact__container {
    padding-right: 97px;
  }
}

.contact__title {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
}

.contact__flex-wrapper {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.contact__input {
  padding: 8px 11px;
  border: 1px solid black;
  width: 380px;
  height: 60px;
  font-family: Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact__input:hover {
  border: 1px solid #FF3C3C;
}

.contact__btn {
  height: 60px;
  width: 200px;
  padding: 0 20px;
  background: #222;
  color: #FFF;
  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.contact__btn:hover {
  background: #FF3C3C;
  color: #222;
  cursor: pointer;
}

@media (max-width: 380px) {
  .contact__flex-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .contact__input,
  .contact__btn {
    width: 100%;
  }
}

/* //////////////////////// footer */
.footer__container {
  padding-top: 38px;
  padding-right: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;

  text-align: center;
  font-family: Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__link:hover {
  color: #FF3C3C;
}

@media (max-width: 380px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
}