.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 81px;
  background-color: #1a1a2e;
}

/*предложение */
.result-block,
.source-block {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  max-width: 800px;
  min-height: 60px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;

  border: 2px dashed #444;
}

.result-block {
  background: rgba(255, 255, 255, 0.05);
}

.source-block {
  background: rgba(100, 108, 255, 0.1);
}

/*карточки */
.word-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 10px 20px;
  min-width: 40px;
  max-width: 250px;
  font-size: 1.1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #646cff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition:
    transform 0.2s,
    background-color 0.2s;
}

@media (max-width: 600px) {
  .word-card {
    padding: 8px 12px;
    font-size: 0.9rem;
    min-width: 30px;
  }
}

.word-card:hover {
  background-color: #747bff;
  transform: translateY(-2px);
}

.word-card:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.continue-btn {
  padding: 10px 25px;
  background-color: #444;
  color: #888;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  transition: all 0.3s ease;
}

.continue-btn.btn-active {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.continue-btn.btn-active:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
